import java.io.*;
import java.util.*;
import java.text.*;
import java.math.*;

public class {{file_name_without_extension}} {
	private static final String INPUT = "/Users/mkgaurab/Downloads/text_editor.txt";
	private static final String OUTPUT = "/Users/mkgaurab/Desktop/text_editor_output.txt";

    public static void main(String[] args) {
    	// FileInputStream instream = null;
		// PrintStream ostream = null;
		// try {
		// 	instream = new FileInputStream(INPUT);
		// 	System.setIn(instream);
		// } catch (Exception e) {
		// 	System.out.println(e);
		// }
		// try {
		// 	ostream = new PrintStream(new FileOutputStream(OUTPUT));
		// 	System.setOut(ostream);
		// } catch (Exception e) {
		// 	System.out.println(e);
		// }

		// cin.close();
		// cout.close();
    }
}
